@import "~antd/dist/antd.css";

.title {
  margin-bottom: 2rem;
}

.title p {
  font-size: 0.8rem;
  color: darkgrey;
}

.App {
  text-align: center;
  font-size: 1rem;
}

.Content {
  background-color: white;
  padding: 3rem 1rem;
  margin: 5vh 5vw;
}

.Button {
  margin: 1rem;
}
